
.bi{
background-image: url(images/istockphoto-166044285-170667a.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
.intro{
    text-align: center;
}
#inputName{
 padding-left: 200px;
 padding-right: 20px;
}
#int1{
    padding-left: 220px;
    padding-right: 40px;
}
.random{
text-align: center;
}
.mymark{
    padding-top: 220px;
    padding-right: 40px;
    float: right;
}